/* From Uiverse.io by catraco */

/*------ Settings ------*/
.container {
  --color: #007bff; /* Change color as needed */
  --size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin-left: 8px; /* Added margin to shift it slightly to the right */
}

.container .eye {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .eye-slash {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
}

/* ------ On check event ------ */
.container input:checked ~ .eye {
  display: none;
}

.container input:checked ~ .eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}
